// Variables 



// Loading Animation Colors 
$gld: gold;
$crmsn: crimson;
$rd: red;
$orgrd: orangered;
$trqse: turquoise;
$ygrn: yellowgreen;
$fill: dodgerblue;


// Loading Animation Variables
$max: 12;
$angle: 360/$max;
$size: 120px;

// Main Colors 

$fontMc:  #CCCC33;
$bgC: skyblue;
$borderC: #FF6633;
$btnNav: #CC3333;
$btnPly: #007042;

$boxSdw: rgba(0, 0, 0, 0.7);

// Font 

$fntFm: 'Bangers', cursive;